{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1 class="fonte-destaque1">Bem-vindo à Casa São Sebastião e Santa Bárbara de Oyá</h1>
    <p class="lead">Aqui você encontrará informações sobre nossos rituais, eventos, banhos, ervas e muito mais.</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <h3>História</h3>
            <p>Conheça a trajetória e a missão da nossa casa espiritual.</p>
        </div>
        <div class="col-md-4">
            <h3>Agenda</h3>
            <p>Veja nossos eventos, giras e encontros.</p>
        </div>
        <div class="col-md-4">
            <h3>Banhos & Ervas</h3>
            <p>Aprenda sobre os banhos espirituais e ervas utilizadas em nossos trabalhos.</p>
        </div>
    </div>
</div>
{% endblock %}
